version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env.prod
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis
    restart: always

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A config worker -l info
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis
    restart: always

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis
    restart: always

volumes:
  postgres_data:
